<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SchoolOS">
    <parameter name="browser"  value="chrome"/>
    <parameter name="url"  value="https://explore-staging.toppr.school/"/>
  <test thread-count="50" name="SchoolOS">
    <classes>  
       <class name="com.toppr.tests.Assignment"/>






    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
